@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.wrap {
    width: 1219px;
    padding: 0px 55px;
    margin: 100px auto 0;
    
}

.top_navi {
    background-color: #007765;
    position: fixed;
    width: 100%;
    top: 0;
    
    flex: auto;
}

.header {
    width: 1219px;
    margin: 0 auto;
    display: flex;
}

.logo {
    
}

.logo img {
    width: 184px;
    display: inline-block;
    
}

ul li {
    display: flex;
}

.r_border {
    border-right: 1px solid #999999;
}